.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0px -4px 5px 0px rgba(126, 126, 126, 0.493);
  -moz-box-shadow: 0px -4px 5px 0px rgba(133, 133, 133, 0.39);
  box-shadow: 0px -4px 5px 0px rgba(131, 131, 131, 0.288);
}

.yl {
  color: #ffcb05 !important;
}
