<div class="container-fluid">

    <div class="content">

        <div class="headline">
            <h2>Tudo sobre o seu Pokémon</h2>
            <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum atque, similique incidunt, assumenda
                sequi perferendis harum reprehenderit magni recusandae amet eligendi suscipit, minima nobis ducimus?
            </h6>
            <button class="btn mt-3 p-3 w-25 btn-dark" href="#features">Explorar</button>
        </div>

        <div class="image">
            <!-- <img src="../../../assets/charmander.png" height="400" alt=""> -->
            <img src="../../../assets/Ativo 2.png" height="650" alt="">
        </div>

    </div>


</div>