<div class="wrapper">
  <div class="grid">
    <div class="inner">

      <h1>Pokesite</h1>

      <div class="types" @typesAnimation>
        <div *ngFor="let type of objectKeys(types)" [ngClass]="type" (mouseover)="types[type]=true"
          (mouseleave)="types[type]=false">{{type | titlecase}}!<span></span>
          <div *ngIf="type == 'electric'" id=etc> ...</div>
        </div>
      </div>

      <!-- desktop button -->
      <a routerLink='/' *ngIf="!(isHandset$ | async)" class=btn-whos>
        <span></span><span></span><span></span><span></span>
        Who's that Pokémon?
      </a>
    </div>

    <!-- mobile button -->
    <div *ngIf="isHandset$ | async" class="action">
      <a routerLink='/' class=btn-whos>
        <span></span><span></span><span></span><span></span>
        Who's that Pokémon
      </a>
    </div>

    <div class="illustration">
      <img [ngClass]=" isHover() ? 'whos whos-hided' : 'whos'" src="../../assets/whos.png" alt="?">
      <img *ngFor="let type of objectKeys(types)"
       [ngClass]="!types[type] ? type+'-img' : type+'-img' + ' '+ type+'-hover'" [src]="'../../assets/'+type+'.png'"
        alt={{type}}>
    </div>
  </div>
</div>
