<div class="wrapper">
  <div class="grid">
    <div class="inner">

      <h1>Pokesite</h1>

      <div class="types" @typesAnimation>
        <div *ngFor="let type of objectKeys(types)" class="btn-{{type}}" (mouseover)="types[type]=true"
          (mouseleave)="types[type]=false">{{type | titlecase}}!<span></span>
          <div *ngIf="type == 'electric'" id=etc> ...</div>
        </div>
      </div>

      <!-- desktop button -->
      <a routerLink='/' *ngIf="!(isHandset$ | async)" class=btn-whos>
        <span></span><span></span><span></span><span></span>
        Who's that Pokémon?
      </a>
    </div>

    <!-- mobile button -->
    <div *ngIf="isHandset$ | async" class="action">
      <a routerLink='/' class=btn-whos>
        <span></span><span></span><span></span><span></span>
        Who's that Pokémon
      </a>
    </div>

    <div class="illustration">
      <img class="whos-img" (click)="focus()" [class.whos-hided]=" isHover()" src="../../assets/whos.png" alt="?">

      <img *ngFor="let type of objectKeys(types)" class="{{type}}-img img-hide" [class.img-hover]="types[type]"
        [src]="'../../assets/'+type+'.png'" alt={{type}}>
    </div>
  </div>
</div>
