@font-face {
  font-family: "Pokemon";
  src: url("../../assets/fonts/@font-face/f4d1593471d222ddebd973210265762a.eot");
  src: url("../../assets/fonts/@font-face/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/@font-face/f4d1593471d222ddebd973210265762a.woff2") format("woff2"),
    url("../../assets/fonts/@font-face/f4d1593471d222ddebd973210265762a.woff") format("woff"),
    url("../../assets/fonts/@font-face/f4d1593471d222ddebd973210265762a.ttf") format("truetype"),
    url("../../assets/fonts/@font-face/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg");
}

$image-width: 150px;

.wrapper {
  height: 100%;
  width: 100%;
  display: block;
  font-family: "Pokemon";
  color: #ffcb05;
  text-shadow: -3px 0 #3b5ba7, 0 3px #3b5ba7, 3px 0 #3b5ba7, 0 -3px #3b5ba7;
  letter-spacing: 2px;
}

.grid {
  max-width: 90%;
  max-height: 90%;
  height: inherit;

  padding-top: 15%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40% 45% 10%;
}

.grid > * {
  position: relative;
  width: 100%;
}

.grid * {
  max-width: 100%;
}

.inner {
  text-align: center;
}

.types {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.1rem;
  margin: 1.5rem 0;
}

.types > * {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0px 3px;
  padding-bottom: 15px;
  border-radius: 1px;
}

#etc {
  display: inline;
  text-shadow: 3px 4px 2px #3b5ba7, 4.5px 1.5px 2px #3b5ba7;
}

.illustration > * {
  position: absolute;
  max-width: $image-width;
  left: 50%;
  transform: translate(-50%);
}

.whos-img {
  z-index: 50;
  max-height: $image-width;
  clip-path: circle(100%);
  transition: 0.5s ease-in-out;
}

.whos-hided {
  transition: 0.2s ease-in-out;
  clip-path: circle(0%);
}

.action {
  grid-row-start: 3;
  text-align: center;
}

.img-hide {
  clip-path: circle(0);
  transition: 0.3s ease-in-out;
}

.img-hover {
  clip-path: circle(200%);
  transition: 0.3s ease-in-out;
}

.fire-img {
  -webkit-filter: drop-shadow(0 0 50px #f47832);
  filter: drop-shadow(0 0 50px #f47832);
}
.water-img {
  -webkit-filter: drop-shadow(5px 5px 20px rgb(3, 220, 248));
  filter: drop-shadow(5px 5px 50px rgb(3, 220, 248));
}
.grass-img {
  -webkit-filter: drop-shadow(0 0 50px rgb(56, 197, 0));
  filter: drop-shadow(0 0 50px rgb(56, 197, 0));
}
.electric-img {
  -webkit-filter: drop-shadow(0 0 50px yellow);
  filter: drop-shadow(0 0 50px yellow);
}

.btn-fire span,
.btn-water span,
.btn-grass span,
.btn-electric span {
  position: absolute;
  bottom: 0px;
  left: -100%;
  width: 70%;
  height: 100%;
  animation: ani1 3s ease-in-out infinite;
}

.btn-fire span {
  background: linear-gradient(90deg, transparent, rgba(255, 166, 0, 0.404), transparent);
}
.btn-water span {
  background: linear-gradient(90deg, transparent, rgba(0, 204, 255, 0.404), transparent);
}
.btn-grass span {
  background: linear-gradient(90deg, transparent, rgba(0, 255, 55, 0.404), transparent);
}
.btn-electric span {
  background: linear-gradient(90deg, transparent, rgba(255, 255, 0, 0.404), transparent);
}

.btn-whos {
  position: relative;
  display: inline-block;
  overflow: hidden;
  font-size: 1.5rem;
  letter-spacing: 3px;
  border-radius: 5px;
  text-align: center;
  padding: 0 15px;
  padding-bottom: 20px;
  color: #ffcb05 !important;
  text-decoration: none;
  transition: 0.5s;
  &:hover,
  &:focus-within {
    background: #f8e004;
    box-shadow: 0 0 5px #ffcb05, 0 0 25px #ffcb05, 0 0 50px #ffcb05, 0 0 200px #ffcb05;
  }
}

.btn-whos--hover {
  background: #f8e004;
  box-shadow: 0 0 5px #ffcb05, 0 0 25px #ffcb05, 0 0 50px #ffcb05, 0 0 200px #ffcb05;
}

.btn-whos span {
  position: absolute;
  &:nth-child(1) {
    top: 0px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, yellow);
    animation: ani1 1s linear infinite;
  }
  &:nth-child(2) {
    top: 0px;
    right: 0px;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, yellow);
    animation: ani2 1s linear infinite;
    animation-delay: 0.25s;
  }
  &:nth-child(3) {
    bottom: 0px;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(180deg, transparent, yellow);
    animation: ani3 1s linear infinite;
    animation-delay: 0.5s;
  }
  &:nth-child(4) {
    bottom: -100%;
    left: 0px;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, yellow);
    animation: ani4 1s linear infinite;
    animation-delay: 0.75s;
  }
}

@keyframes ani1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
@keyframes ani2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
@keyframes ani3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
@keyframes ani4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

// MEDIA QUERIES

@media (min-width: 340px) {
  $image-width: 180px;
  .illustration > * {
    max-width: $image-width;
  }
}

@media (min-width: 340px) and (max-width: 375px) {
  h1 {
    font-size: 2.3rem;
  }
}

// LARGE SCREENS
@media (min-width: 651px) {
  $image-width: 300px;

  .grid {
    grid-template-columns: 40% 60%;
    grid-template-rows: unset;
    max-height: 70%;
    grid-gap: 10px;
    padding-top: 5%;
  }

  .grid > * {
    top: 20%;
  }

  .inner {
    text-align: unset;
    h1 {
      font-size: 4rem;
    }
    .types {
      font-size: 2rem;
    }
    .types > * {
      padding: 5px 8px;
    }
  }

  .illustration > * {
    max-width: $image-width;
    top: 5%;
  }

  .whos-img {
    top: 15% !important;
    max-height: $image-width;
  }

  .btn-whos {
    margin-top: 30% !important;
    padding: 10px 20px;
  }
}

@media (min-width: 800px) {
  $image-width: 450px;

  .illustration > * {
    max-width: $image-width;
  }
}
