<nav _ngcontent-yro-c52="" class="navbar navbar-expand-lg navbar-dark d-flex">
    <a _ngcontent-yro-c52="" href="#" class="navbar-brand" ng-reflect-href="#">Pokemon</a>
    <button _ngcontent-yro-c52="" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler">
        <span _ngcontent-yro-c52="" class="navbar-toggler-icon"></span>
    </button>
    <div _ngcontent-yro-c52="" id="navbarNavDropdown" class="collapse navbar-collapse">
        <ul _ngcontent-yro-c52="" class="navbar-nav"><li _ngcontent-yro-c52="" class="nav-item">
            <a _ngcontent-yro-c52="" href="#home" class="nav-link" ng-reflect-href="#home">Buscar Pokémon <span _ngcontent-yro-c52="" class="sr-only">(current)</span></a></li>
            <li _ngcontent-yro-c52="" class="nav-item">
                <a _ngcontent-yro-c52=""  href="https://github.com/Bruno-Henrique-BR" target="_blank" class="nav-link" ng-reflect-href="https://github.com/ruslanpasco">Autor</a>
            </li>
        </ul>
    </div>
</nav>