.modal-image--description {
    height: 213px;
    width: 100px;
}

.modal-text--description{
    margin: 20px 0;
}

/* ------------------- *\
    Responsive Layout
\* ------------------- */
@media(max-width: 749px){
    .modal-text--description{
        margin: 0;
        margin-top: 15px;
        font-size: 20px;
    }
}