<!--<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello, {{name}}!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div> -->

  <!--<div class="modal fade">
    <div class="modal-dialog modal-md" role="document">-->
        <div class="modal-content">
        
            <div class="modal-header">
                <h4 class="modal-title">Olá Treinador Pokémon!</h4>
                <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                    <span>&times;</span>
                </button>
            </div>
            
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 text-center">
                            <img class="modal-image--description" src="../../../assets/img/professor-carvalho.png" alt="imagem pokemon">
                            <blockquote><p></p>Prof. Carvalho</blockquote>
                        </div>
                        <div class="col-12 col-md-6 modal-text--description">
                            <p>
                                Sabemos que essa jornada é cheia de perigos
                                e conhecer os Pokémons pode ser algo muito importante
                                nessa sua jornada cheia de aventuras!
                            </p>
                            <p>
                                Preparamos um portal para te ajudar a saber
                                mais sobre eles, e lembre-se: 
                                Temos que pegar todos! Pronto para essa aventura?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="activeModal.close('Close click')">Vamos lá!</button>
            </div>
            
        </div>
    <!--</div>
  </div> -->
