<app-busca></app-busca>
<div class="row col-md-12 p-0 m-0">
  <div class="col-md-5 ml-auto mr-auto quadrado-list">
    <div class="row">
      <div class="container"></div>
      <h2 class="col-md-12 col-sm-8">
        <strong class="title font-italic">XXXXX</strong>
      </h2>
      <div class="col-6">
        <section>
          <ul>
            <li>XXXXX</li>
          </ul>
        </section>
      </div>

      <div class="col-6 bolas">
        <img
          class="img-auto img"
          src=""
          alt=""
        />
      </div>
    </div>
  </div>
</div>
