@import "../../../config-scss/rem-calc.scss";

.quadrado-list {
  width: 290px;
  height: 157px;
  border-radius: 8px;
  background-color: #FFF;
  box-shadow: 4px 4px #88888846;
  cursor: pointer;
  margin: 10px;
}

ul li {
  background-color: #EFEFEF;
  border-radius: 32px;
  text-align: center;
  margin: 5px;
}

.title {
  color:#1d2c5e;
}

img {
  width: rem-calc(60);
}

td,tr {
  cursor: pointer;
}

.w-20 {
  width: 20px;
}

.justify-content-center {
  display: flex !important;
  justify-content: center !important;
}

ngb-pagination .page-item.active .page-link {
  background-color: #7460ee;
  border-color: #7460ee;
}
