<div class="row row-cols-md-6"  
	*ngIf="pokemonsLoaded && pokemons" >	
	<a class="col-sm mb-4 text-decoration-none" 
	style="min-width: 195.5; min-height: fit-content;" 
	(click)="modal.openModal(p)" 
	*ngFor="let p of pokemons.results | search: query | typeFilter: typeFilters 
	| paginate:{ itemsPerPage: 18, currentPage: p }" >
	<div class="card">
		<p class="id position-absolute  ml-2 mt-1">#{{ p.id }}</p>
		<img src="{{ p.details.sprites.front_default }}" 
		class="card-img-top " >
		
		<p class="card-title m-auto"> {{ p.name | titlecase }}</p>
	</div>
	</a>
</div>


<div class="pagination d-flex justify-content-center">
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

