.pagination{
    margin: 10px;
    justify-content: center;
}

a{
    box-shadow: 0px 2px 15px 2px rgba(rgb(238, 4, 4), 0.068);
}
.card:hover{
    cursor: pointer;
    border: solid rgba(34, 34, 36, 0.2);
    transition: ease-in-out 0.2s;
}

.id{
    color: rgb(34,34,36);
    font-weight: bold;
}

.card-title{
    color: rgb(34,34,36);
    font-weight: bold;
}