.mat-input-element{
    background-color: #eeeeee;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #835492;
    text-align: center;
    background-color: #eee;
    border: 0.5px solid #ccc;
    border-radius: 2px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #bd9cb7;
}