

<div class="box d-flex flex-column h-100"  >

	<div class="card">
		<h5 class="card-header">Pokemons</h5>
		<div class="card-body">
		  <p class="card-text">Filtros</p>
		  <form class="form" [formGroup]="form">

			<div class="form-group form-inline d-flex justify-content-between mt-2">
				<select formControlName="filter" class="custom-select mr-5">
					<option value="all">Todos</option>
					<option value="type">Categoria</option>
					<option value="name">Nome</option>
				  </select>

				  <div *ngIf="form.controls.filter.value == 'all'">
					<button  class="btn btn-primary my-2 my-sm-0" type="button" (click)="findAll()" >Listar</button>
				  </div>

				  <div *ngIf="form.controls.filter.value == 'name'">
					<input formControlName="name" placeholder="Nome" class="form-control mr-sm-2" type="search" aria-label="Buscar">
					<button class="btn btn-primary my-2 my-sm-0" [disabled]="!form.valid" type="button" (click)="findByName()" >Buscar</button>
				  </div>

				  <div *ngIf="form.controls.filter.value == 'type'">
					  
					<select formControlName="type" class="custom-select mr-5">
						<option *ngFor="let t of types" [value]="t.name">{{ t.name }}</option>
					  </select>
					<button class="btn btn-primary my-2 my-sm-0"  type="button" (click)="findByType()" >Buscar</button>
				  </div>


			</div>


		  </form>
		</div>
	</div>


	<div *ngIf="error.message" class="card border-danger mb-3">
		<!-- <div class="card-header">Header</div> -->
		<div class="card-body text-danger">
			<h5 class="card-title">{{ error.message }}</h5>
			<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
		</div>
		</div>


	<div class="card mb-3" *ngFor="let pokemon of pokemons" >
		<div class="row no-gutters">
		  <div class="col-md-4">
			<img [src]="pokemon.sprites.front_default" class="card-img" style="max-width: 150px;" alt="...">
		  </div>
		  <div class="col-md-8">
			<div class="card-body">
			  <h5 class="card-title text-center">{{ pokemon.name }}</h5>
			  <div class="d-flex flex-row justify-content-between" >
				<div>
					<h6 class="card-title">Estatura</h6>
					<p class="card-text">Altura: {{ pokemon.height }}</p>
					<p class="card-text">Peso: {{ pokemon.weight }}</p>
				</div>

				<div class="">
					<h6 class="card-title">Habilidades</h6>
					<p class="card-text" *ngFor="let ability of pokemon.abilities">{{ ability.ability.name }}</p>
				</div>

				<div class="">
					<h6 class="card-title">Tipos</h6>
					<p class="card-text" *ngFor="let type of pokemon.types">{{ type.type.name }}</p>
				</div>
			  </div>
			  
			  
			  <p class="card-text"><small class="text-muted">Experiência: {{ pokemon.base_experience }}</small></p>
			</div>
		  </div>
		</div>
	</div>
	
	<div *ngIf="pokemons.length && form.controls.filter.value=='all'">
		<nav  aria-label="Navegação de página">
			<ul class="pagination justify-content-center">
			  <li class="page-item disabled " [ngClass]="{'disabled': pagination.previous == null}" >
				<a class="page-link" (click)="changePage(pagination.previous, -1)" tabindex="-1" aria-disabled="true" href="#" >Previous</a>
			  </li>
			  <li class="page-item"><a class="page-link">{{ pagination.current }}</a></li>
			  <li class="page-item" [ngClass]="{'disabled': pagination.next == null}">
				<a class="page-link link" href="#" (click)="changePage(pagination.next, 1)">Next</a>
			  </li>
			</ul>
		</nav>
	</div>

</div>

