<nav class="navbar navbar-expand-lg navbar-dark d-flex  ">
  <a class="navbar-brand" href="#">Pokelib</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#features">Buscar Pokémon <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" href="https://github.com/ruslanpascoal2" target="_blank">Autor</a>
      </li>
      
    </ul>
   
  </div>
</nav>