<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/">
      <img src="../../assets/img/pokeball_PNG24.png" width="35" height="35" alt="icon" >
      Poke.io </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 flex-end">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" #box (keyup.enter)="onEnter(box.value)" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onEnter(box.value)">Search</button>
      </form>
    </div>
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous" (click)="previousPage(20)">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="/">Home</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next" (click)="nextPage(20)">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  

<app-card [parentData]="pokemonSearched" [offset]="offset"></app-card>