@import '../../../config-scss/rem-calc.scss';

:host{
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: rem-calc(15) 0;

        height: rem-calc(250);
        background: var(--primary-color)
        
    }
}