header{
    background-color: rgb(252, 65, 65);
    color: rgb(230, 230, 230);
    padding: 4px 4px 0px 4px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    height: 50px;
}

i-bs{
    color: white;
    float: left;
    padding: 6px 0 0 5px;
    min-width: 54px;
    transition: ease-out 0.15s
}

i-bs:hover{
 cursor: pointer;
 background-color:  rgb(226, 61, 61);
 padding: 6px 0 0 7px;
}