/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {font-family: 'VT323', monospace;}
html, body { height: 100%; }
body { margin: 0; }
