.container {
  padding-top: 5%;
  max-width: 90% !important;
  color: rgb(19, 188, 255);
  width: 100%;
  display: block;
  position: relative;
}

.row {
  position: relative;
}

h2 {
  font-family: "Pokemon";
  color: #ffcb05;
  text-shadow: -3px 0 #3b5ba7, 0 3px #3b5ba7, 3px 0 #3b5ba7, 0 -3px #3b5ba7;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

mat-form-field {
  width: 100%;
}

.mat-paginator {
  border-radius: 30px;
  background-color: royalblue;
}

.display {
  max-height: 55vh !important;
  justify-content: center;
  overflow-y: auto;
  // --scrollbarBG:  linear-gradient(90deg,#201c29,#201c29 1px,#100e17 0,#100e17);
  --scrollbarBG: linear-gradient(to bottom, rgba(24, 151, 201, 0.336), transparent );
  --thumbBG: linear-gradient(to top, #008aff, #00ffe7);
  &::-webkit-scrollbar {
    width: 5px;
    height: 30px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--thumbBG);
    border-radius: 30px;
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    border-radius: 30px;
  }
}

.actions {
  margin: 0 auto;
  margin-top: 10%;
}

.page-link {
  background-color: transparent;
  border: 1px thin blanchedalmond;
  font-size: 0.8em;
  padding: 10px 15px;
  cursor: pointer;
  color: #13bcff;
}

.page-item.disabled {
  pointer-events: none !important;
  outline: none !important;
  .page-link {
    background-color: transparent;
  }
}

@media (max-height: 640px) {
  .display {
    max-height: 50vh !important;
  }
}

@media (min-width: 600px) {
  .display {
    max-height: 50vh !important;
    &::-webkit-scrollbar {
      width: 7px;
    }
  }
  .page-link {
    font-size: 1em;
    padding: 10px 20px;
  }
}
