<div class="container">
  <div class="row">
    <h2>PokeWiki</h2>
  </div>

  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Pokemon name</mat-label>
          <input #name matInput formControlName='pokename' maxlength="100" placeholder="Ex. pikachu">
          <mat-hint align="end">{{name.value.length}} / 100 </mat-hint>
        </mat-form-field>
      </div>
      <div class="col">
        <!-- poketype (select Many) -->
        <mat-form-field>
          <mat-label>PokeType</mat-label>
          <mat-select formControlName="poketype" multiple>
            <mat-select-trigger>
              {{searchForm.get('poketype').value ? searchForm.get('poketype').value[0] : ''}}
              <span *ngIf="searchForm.get('poketype').value?.length > 1" class="additional-selection">
                (+{{searchForm.get('poketype').value.length - 1}}
                {{searchForm.get('poketype').value?.length === 2 ? 'other' : 'others'}})
              </span>
            </mat-select-trigger>
            <mat-option *ngFor="let type of typeList | async" [value]="type | titlecase"> {{type | titlecase}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>


  <div class="row display">
    <app-pokemon-view [class.col-lg]="!(isHandset$ | async)" *ngFor="let result of resultList | async" [result]="result"
      (pokeClick)="urlModal = $event">
    </app-pokemon-view>
    <div *ngIf="urlModal" @fade class="myModal" (click)="urlModal = null">
      <div>
        <app-pokemon-detail [url]="urlModal"></app-pokemon-detail>
      </div>
    </div>
  </div>

  <div class="row">
    <nav class="actions" *ngIf="pagination | async as poke">
      <ul class="pagination pagination-lg">
        <li class="page-item"><a type="button" routerLink="/" class="page-link btn-dark">Back</a></li>
        <li class="page-item" [class.disabled]="poke?.previous == null">
          <div class="page-link" (click)="paginate(poke?.previous)" tabindex="-1">
            < </div>
        </li>
        <li class="page-item">
          <div class="page-link" style="cursor: default;"> {{poke?.page}} / {{ceil(poke?.count/20)}}</div>
        </li>
        <li class="page-item" [class.disabled]="poke?.next == null">
          <div class="page-link" (click)="paginate(poke?.next)"> > </div>
        </li>
        <li class="page-item"><a type="button" (click)="search()" class="page-link btn-dark">Search</a></li>
      </ul>
    </nav>
  </div>
</div>
